

.text-animation {
    background-color: #222222;
    width: 1px;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: smaller;

}



.ml2 {
    font-weight: 900;
    font-size: 3.5em;
}

.ml2 .letter {
    display: inline-block;
    line-height: 1em;
    position: relative;
}


body, html {
    height: 100%;
    margin: 0;
    background-image: url("images/pankaj-patel-643321-unsplash.jpg");

    /* Full height */
    height: 100%;


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    text-align: center;

}

 .container {
    /* The image used */



}
 .container img{
     vertical-align: center;
 }
 h1{
     font-size: 76px;
 }
 button{
     
 }